# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore
*.jks
*.hprof
*.iml
*.apk
*.aar
local.properties
.gradle/
.idea/
.cxx/

# iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# React Native
*.jsbundle
*.map
*.pack
.expo/
